.header{
  height: 70px;
  background-color: #07294d;
}

.logo{
  height: 70px;
}
label, span{
  font-size: 14px!important;
}
select{
  display:block;
  margin:10px;
  width: 100%;
  height: 35px;
}

button{
  background-color: #4CAF50;
  height: 40px;
  width: 40px;
  color: white;
  cursor: pointer;
  user-select: none;
  float: right;
  border: none;
  box-shadow: none;
  margin-top: 7px;
  margin-right: 7px;
  border-radius: 50%;
  box-shadow: none;
  outline: none;
  border: none;
  box-shadow: none;
}

button:disabled{
  display:block;
  background-color: #ddd;
  height: 40px;
  width: 40px;
  color: black;
  cursor: not-allowed;
  user-select: none;
  float: right;
  margin-top: 7px;
  margin-right: 7px;
  border-radius: 50%;
  outline: none;
  border: none;
  box-shadow: none;
}
button:hover {
  outline: none;
  border: none;
  box-shadow: none;
}

button:active {
  outline: none;
  border: none;
  box-shadow: none;
}


table{
  border-collapse: separate;
  border-spacing: 50px 0;
}

td{
  padding: 10px 0;
}